
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <a href="/Home/Index2">Index2 sayfasını getir</a>
    @Ajax.ActionLink("Verileri Getir","Index2",null, new AjaxOptions {UpdateTargetId ="hedef", LoadingElementId ="loading",LoadingElementDuration=500 ,Confirm="Emin misiniz?",InsertionMode=InsertionMode.ReplaceWith},new {@class= "btn btn-success" } )
</div>

<div class="alert alert-success" id="loading" style="display:none"> Yükleniyor..</div>
<div id="hedef">



</div>